<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="view/views/images/icon.jpg" rel="icon" type="image/x-icon" />
  <title>UC Berkeley Extension Code Playground</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cantata+One&display=swap" rel="stylesheet">

  <link href="css/cloudEditCustom.css" rel="stylesheet">
  
</head>
<style>

body {
  font-family: 'Cantata One', serif;
  background-color: white;
}
.windowGroup {
  background: #000;
  height: 400px;
  margin: 23px 0 0 0;
}
.bar {
  padding: 8px 10px;
  white-space: nowrap;
  position: relative;
  background: #262831;
  color: #D7D8E0;
  font-size: 1em;
}
.window {
  margin-top:0;
  border:none;
  height:355px;

}
 
.preview {
  width: 100%;
    position: relative;
    -webkit-appearance: none;
    margin: 0.75em 0 0 0;
    border: none !important;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 37.5rem;
    top: 100%;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
button:hover {
  opacity: 0.8;
}
.sidenav {
  height: 8%;
    width: 0;
    position: absolute;
    margin: 0 0 0 0px;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
    padding: 15px 0 0 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<body>
    <p id="usrr"></p>
 
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button id="log" data-toggle="tooltip" title="Takes you back to the homepage" onclick="cancel()" type="button"  class="btn btn-outline-primary">Home Page</button>
  <button data-toggle="tooltip" title="Downloads your code as an index.html file" id="download" type="button"  class="btn btn-outline-primary"> Download HTML/CSS/JS</button>
  <button data-toggle="tooltip" title="Clears your HTML, CSS, or Javascript from the screen " id="clear" type="button"  class="btn btn-outline-primary">Clear HTML/CSS/JS</button>
  <button data-toggle="tooltip" title="Saves your code to local storage on Google Chrome" id="save" type="button"  class="btn btn-outline-primary">Save to Local Storage</button>
  <button data-toggle="tooltip" title="Loads your last stored code" id="load" type="button"  class="btn btn-outline-primary">Load from Local Storage</button>
  <button id="run" type="button"  class="btn btn-outline-primary">Run The Code</button>

  <select class="context-menu-list" >
    <optgroup label="CSS Frameworks">
        <option value="plaincss">Plain CSS</option>
        <option value="autoprefixer">Autoprefixer</option>
        <option value="sass">Sass</option>
        <option value="less">Less</option>
        <option value="none">No CSS Framework</option>
        <option value="bootstrap">Bootstrap</option>
        <option value="foundation">Foundation</option>
      </optgroup>
      <optgroup label="Reversions">
          <option value="normalize">Normalize CSS</option>
          <option value="modernizr">Modernize CSS</option>
          
        </optgroup>
    </select>
      </div>
      
      <div id="main">
         
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      </div>
 
   
   
  <section style="padding:0;">
    <div class="row windowGroup" style="margin-bottom:50px;">
      <div class="column-33">
        <div class="bar">HTML</div>
        <div class="window html">
          <pre id="html"><%- include html/html.ejs %></pre>
        </div>
      </div>
      <div class="column-33">
        <div class="bar">CSS</div>
        <div class="window css">
          <pre id="css"><%- include css/css.ejs %></pre>
        </div>
      </div>
      <div class="column-33">
        <div class="bar">JAVASCRIPT</div>
        <div class="window js">
          <pre id="js"><%- include js/js.ejs %></pre>
        </div>
      </div>
      
    </div>

    <div class="row console" style="display:none;">
      <pre id="console"></pre>
      <span class="windowLabel" id="consoleLabel">Console</span>
    </div>

    <div class="html-container"></div>

    <div class="row preview">
      <iframe id="iframe" name="CloudEdit"
        sandbox="allow-modals allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms"
        allowtransparency="true">
      </iframe>
    </div>
 
  </section>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/ext-emmet.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/emmet.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jquery.ui.position.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jqconsole.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/cloudEdit.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script src="js/jquery-1.12.1.min.js"></script>
<script>

  // This loads in the tempate page used as a preview.
  $(document).ready(function() {
    $('.html-container').load('/template', function() {
      html = $('.html-container').html();
    });
  });

  function cancel() {
    window.location.href = "/";
 }
 function openNav() {
  document.getElementById("mySidenav").style.width = "1391px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip;   
});


</script>
</html>

