<html>
  <head>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <style>
    <%- include('css/css.ejs') %>
  </style>
  <body>
    <%- include('html/html-pure.ejs') %>
  </body>
  <script>
    <%- include('js/js.ejs') %>
  </script>
</html>
