<textarea readonly>
     
    <div>
        <p class="test">Berkeley Extension Code Playground.</p>
        </div>
           <div class="hero-app-1 custom-animation"><img src="img/animate_icon/icon_1.png" alt=""></div>
            <div class="hero-app-2 custom-animation"><img src="img/animate_icon/icon_7.png" alt=""></div>
             <div class="hero-app-3 custom-animation"><img src="img/animate_icon/icon_2.png" alt=""></div>
    </textarea>
    